version: '3'
services:
  nosetest:
    image: docker-registry.flightdataservices.com/test/fds-base:python-3.6-slim-stretch-0.0.1
    command: bash -c 'cd /usr/src/testdir && nosetests --with-xunit'
    volumes:
      - ./:/usr/src/testdir
      - ./results.xml:/usr/src/testdir/nosetests.xml:rw
